<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Jagilpe Symfony Bundles Demo{% endblock %}</title>
        {% block vendor_stylesheets %}
            <!-- Bootstrap compiled and minified CSS -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div id="main-wrapper">
            {% block header_container %}
                <div id="header-wrapper">
                    <div class="container">
                        <div class="col-xs-12">
                            {% block main_menu %}
                                {{ jgp_menu('app_menu', 'full') }}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div id="content_wrapper">
                {% block content_wrapper %}
                    <div class="container">
                        {% set sidebar = sidebar is defined ? sidebar : false %}
                        {% if sidebar %}
                            <div class="hidden-xs col-sm-4 col-md-3">
                                {% block sidebar_container %}
                                    <div class="submenu">
                                        {{ jgp_menu('app_menu', 'sidebar', {'level': 2}) }}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endif %}
                        {% set content_class = sidebar ? 'col-xs-12 col-sm-8 col-md-9' : 'col-xs-12' %}
                        <div class="{{ content_class }}">
                            {{ jgp_ajax_block('AppBundle:Default:messagesBlock') }}
                            {% block page_content %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
            {% block footer_container %}
                <div id="footer">
                    {% block footer %}{% endblock %}
                </div>
            {% endblock %}
            </div>
        {% endblock %}
        {{ jgp_modal_container() }}
        {% block vendor_javascripts %}
            <script
                    src="//code.jquery.com/jquery-2.2.4.min.js"
                    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                    crossorigin="anonymous"></script>
            <script>
                if (typeof jQuery == 'undefined') {
                    document.write(unescape("%3Cscript src='{{ asset('js/vendor-fallback/jquery-2.2.4.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
                }
            </script>
            <script src="//code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
            <script>
                if (typeof jQuery.migrateMute == 'undefined') {
                    document.write(unescape("%3Cscript src='{{ asset('js/vendor-fallback/jquery-migrate-1.4.1.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
                }
            </script>
            <script
                    src="//code.jquery.com/ui/1.12.0/jquery-ui.min.js"
                    integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
                    crossorigin="anonymous"></script>
            <script>
                if (typeof jQuery.ui == 'undefined') {
                    document.write(unescape("%3Cscript src='{{ asset('js/vendor-fallback/jquery-ui-1.12.0.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
                }
            </script>
            <!-- Latest compiled and minified Bootstrap JavaScript -->
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script>
                if (typeof $().modal !== 'function') {
                    document.write(unescape("%3Cscript src='{{ asset('js/vendor-fallback/bootstrap-3.3.7.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
                }
            </script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
            <script>
                if (typeof hljs == 'undefined') {
                    document.write(unescape("%3Cscript src='{{ asset('js/vendor-fallback/highlight-9.11.0.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
                }
            </script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
            <script>
                if (typeof List == 'undefined') {
                    document.write(unescape("%3Cscript src='{{ asset('js/vendor-fallback/list.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
                }
            </script>
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                'bundles/ajaxblocks/js/ajax-blocks.js'
                'bundles/jagilpeajaxmodals/js/jgp-modal-dialog.js'
                'bundles/jagilpeentitylist/js/jgp-searchable-table.js'
                output='js/compiled/vendor.js'%}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
